html {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;/*Heredando para elementos internos*/
}
#piano {
    background-color: #00471b;
    width: 992px;
    height: 290px;
    margin: 80px auto;
    padding: 90px 20px 0 20px;
}
.keys {
    background-color: #040404;
    width: 949px;
    height: 180px;
    padding-left: 2px;
}
.key {
    background-color: #ffffff;
    position: relative;/*Se mantendran en el flujo*/
    width: 41px; 
    height: 175px;
    margin: 2px;
    float: left;/*El elemento flota a la izquierda de su contenedor y el texto y otros elementos fluyen alrededor de él por la derecha.*/
}